img{
	height:100%;
	width:100;
}
div.image-container{

	height:20px;
	widht:20px;
}

.lineThrough
{
	text-decoration: line-through;
	float: right;
}

.green
{
	color: green;
}

hr 
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: auto;
    padding: 0;
}
h1{
	font-family: 'Russo One', sans-serif;
	text-align: center;
	vertical-align: text-top;
  color: #E9E585;
  size:10px;
  }