body {
  margin: 0;
  padding: 0;
  background: #696969;
}

div.page-container {
  padding: 20px;
}

@import "./components/navigation/MainHeader.scss";
@import "./components/forms/form-control.scss";

@import "./pages/Home/HomePage.scss";
@import "./pages/Registration/RegistrationPage.scss";