body {
  margin: 0;
  padding: 0;
    text-align: left;
}

div.page-container {
  padding: 20px;
}

.lineThrough
{
	text-decoration: line-through;
	float: right;
}

.green
{
	color: green;
}

hr 
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: auto;
    padding: 0;
}

h1
{
	text-align: center;
	vertical-align: text-top;
}

@import "./components/navigation/MainHeader.scss";
@import "./components/forms/form-control.scss";

@import "./pages/Home/HomePage.scss";
@import "./pages/Registration/RegistrationPage.scss";
@import "./pages/Payment/PaymentPage.scss";
@import "./pages/ProfileImage/ProfileImagePage.scss";
@import "./pages/Location/LocationPage.scss";
@import "./pages/Final/FinalPage.scss";
