#PaymentPage {
	

}
img{
	height:100%;
	width:100;
}

div.image-container{

	height:20px;
	widht:20px;
}

.lineThrough{
	text-decoration: line-through;
	float: right;
}

.green
{
	color: #bbef7c;
}

.light{
	color:#28272b;
	font-size:12px;
}

hr 
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: auto;
    padding: 0;
}